* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f6f6f6;
}

#root {
  color: #000;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 995px;
  background-color: #f6f6f6;
  flex-direction: row;
  justify-content: center;
}

.content {
  overflow: hidden;
  /* background-color: #fff; */
  max-width: 260px;
  display: flex;
  margin: 20px auto;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  word-break: break-all;
}

.heading {
  font-size: 12px;
  inline-size: 250px;
  overflow-wrap: break-word;
  hyphens: manual;
  max-width: inherit;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 24px 0px;
  margin-bottom: 10px;
  margin-top: 0;
}

p {
  margin: 0;
  width: 220px;
  color: #979696;
  padding-top: 5px;
}

.image {
  width: 220px;
}

.searchWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  width: 250px;
  height: 20px;
  text-align: center;
  margin: 0 15px;
}

.totalEpisodesDisplayed {
  margin-left: 20px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  flex-wrap: wrap;
}

/*
/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) *
@media only screen and (min-width: 1200px) {...}*/
